---
interface Props {
  links: {
    spotify?: string;
    appleMusic?: string;
    youtubeMusic?: string;
    bandcamp?: string;
  };
}

const { links } = Astro.props;

const platforms = [
  {
    name: 'Spotify',
    url: links.spotify,
    color: 'hover:text-[#1DB954]',
    icon: 'M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.66 0 12 0zm5.521 17.34c-.24.359-.66.48-1.021.24-2.82-1.74-6.36-2.101-10.561-1.141-.418.122-.779-.179-.899-.539-.12-.421.18-.78.54-.9 4.56-1.021 8.52-.6 11.64 1.32.42.18.479.659.301 1.02zm1.44-3.3c-.301.42-.841.6-1.262.3-3.239-1.98-8.159-2.58-11.939-1.38-.479.12-1.02-.12-1.14-.6-.12-.48.12-1.021.6-1.141C9.6 9.9 15 10.561 18.72 12.84c.361.181.54.78.241 1.2zm.12-3.36C15.24 8.4 8.82 8.16 5.16 9.301c-.6.179-1.2-.181-1.38-.721-.18-.601.18-1.2.72-1.381C8.64 5.801 15.6 6.06 20.04 8.82c.539.3.719 1.02.419 1.56-.299.421-1.02.599-1.38.3z',
  },
  {
    name: 'Apple Music',
    url: links.appleMusic,
    color: 'hover:text-[#FA2D48]',
    icon: 'M23.994 6.124a9.23 9.23 0 00-.24-2.19c-.317-1.31-1.062-2.31-2.18-3.043A5.022 5.022 0 0019.7.175a10.16 10.16 0 00-1.564-.073C17.342.033 16.547.01 15.753 0H8.247c-.793.01-1.589.033-2.383.102A10.16 10.16 0 004.3.175a5.022 5.022 0 00-1.874.716C1.309 1.624.564 2.624.247 3.934a9.23 9.23 0 00-.24 2.19C.024 6.392 0 6.726 0 7.06v9.88c0 .334.024.668.063 1.005a9.23 9.23 0 00.24 2.19c.317 1.31 1.062 2.31 2.18 3.043a5.022 5.022 0 001.874.716c.63.118 1.27.17 1.912.18.447.01.894.018 1.342.026h11.778c.448-.008.895-.016 1.342-.026a10.16 10.16 0 001.564-.073 5.022 5.022 0 001.874-.716c1.118-.733 1.863-1.733 2.18-3.043a9.23 9.23 0 00.24-2.19c.039-.337.063-.671.063-1.005V7.06c0-.334-.024-.668-.063-1.005zM15.75 15.75h-2.25v-6.75c0-.828-.672-1.5-1.5-1.5s-1.5.672-1.5 1.5v8.25c0 .828.672 1.5 1.5 1.5h3.75c.828 0 1.5-.672 1.5-1.5s-.672-1.5-1.5-1.5z',
  },
  {
    name: 'YouTube Music',
    url: links.youtubeMusic,
    color: 'hover:text-[#FF0000]',
    icon: 'M12 0C5.376 0 0 5.376 0 12s5.376 12 12 12 12-5.376 12-12S18.624 0 12 0zm0 19.104c-3.924 0-7.104-3.18-7.104-7.104S8.076 4.896 12 4.896s7.104 3.18 7.104 7.104-3.18 7.104-7.104 7.104zm0-13.332c-3.432 0-6.228 2.796-6.228 6.228S8.568 18.228 12 18.228 18.228 15.432 18.228 12 15.432 5.772 12 5.772zM9.684 15.54V8.46L15.816 12l-6.132 3.54z',
  },
  {
    name: 'Bandcamp',
    url: links.bandcamp,
    color: 'hover:text-[#1DA0C3]',
    icon: 'M0 18.75l7.437-13.5H24l-7.438 13.5z',
  },
];

const available = platforms.filter((p) => p.url);
---

{available.length > 0 && (
  <div class="flex flex-wrap items-center gap-3">
    {available.map((platform) => (
      <a
        href={platform.url}
        target="_blank"
        rel="noopener noreferrer"
        class:list={[
          'inline-flex items-center gap-2 text-sm text-text/60 transition-colors duration-200',
          platform.color,
        ]}
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="w-5 h-5 fill-current"
        >
          <path d={platform.icon} />
        </svg>
        <span>{platform.name}</span>
      </a>
    ))}
  </div>
)}
